* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

main {
max-width: 1000px;
padding-left:175px;
border: 1px solid black;
}

main,
.newSideFilter {
	display: inline-block;
}

main,
.usedSideFilter {
	display: inline-block;
}


/* APP.JS GET REQUESTS FOR PRODUCTS */

.addNewItem > li {
	height: 300px;
	width: 200px;
	display: inline-block;
	/*padding:25px;*/
}

.addUsedItem > li {
	border: 1px solid black;
	height: 300px;
	width: 200px;
	display: inline-block;
	/*padding:25px;*/
}

/* APP.JS GET REQUESTS FOR PRODUCTS */



img {
	max-width: 200px;
	max-height: 150px;
}

/* NAV BAR */

a {
	display: block;
	text-decoration: none;
	color:;
}

a {
    color:black ;
}

a:visited {
    color:black ;
}

.header {
	width: 100%;
	background-color:#f7f1cf;
	position:relative;
}

.nav {
	list-style-type: none;
	display: inline-block;
	color: black;
	margin-right:25px;
}

.navBar {
	display:inline-block;
	margin-top:15px;
  margin-bottom:15px
}

.navList {
  margin-left:20px;
  margin-right:300px;
	float:left;
}

.loginRegister {
	float:right;
}

.logout {
	margin-left: 50px;
	width:75px;
}

/* NAV BAR */


/* USER ACCOUNT PICTURES AND POSTING */

label > input{
  visibility: hidden;
  position: absolute;
}

label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{
  border:2px solid #f00;
}

.usedImg {
	width:135px;
	height:100px;
}

.picContainer,
.usedProductInfo1,
.usedProductInfo2 {
	/*border:1px solid black;*/
	width:420px;
	margin: auto;
}

.postButton {
	width: 70px;
	margin:auto;
	display:block;
}

#itemName,
.productTypeMenu,
#productValue,
.conditionMenu {
	width:100px;
}

/* USER ACCOUNT PICTURES AND POSTING */


/* LOGIN PAGE */

#loginUser,
#loginPassword,
.loginButton {
	display: block;
	margin:auto;
	margin-top:25px;
}

#loginUser {
	margin-top:40px;
}

.loginContainer {
	width:200px;
	height:225px;
	border-radius:5px;
	border:1px solid tan;
	background-color:tan;
	margin:auto;
}

/* LOGIN PAGE */


/* REGISTER PAGE */

.registerContainer {
	width:200px;
	height:290px;
	border-radius:5px;
	border:1px solid tan;
	background-color:tan;
	margin:auto;
}

#firstName, 
#lastName,
#userEmail,
#regName,
#regPassword,
.registerButton {
	display: block;
	margin:auto;
	margin-top:25px;
}

/*REGISTER PAGE*/



.newSideFilter,
.usedSideFilter {
	height:100%;
	position:fixed;
	background-color:#00aac3;
	width:175px;
	float:left;
}

.itemTypeSelector,
.priceSelector,
.conditionSelector {
	display: block;
	padding: 15px 5px;
}

.initiateFilters {
	margin: 15px 5px;
	border-radius: 3px
}



.hidden {
	display:none;
}
