* {
  box-sizing: border-box;
  max-width: 1000px;
}

.addNewItem > li {
	border: 1px solid black;
	height: 400px;
	width: 200px;
	display: inline-block;
	/*padding-top: 50px;*/
}

img {
	max-width: 200px;
	max-height: 290px;
}

a {
	display: block;
	text-decoration: none;
}
