* {
  	box-sizing: border-box;
  	margin: 0;
  	padding:0;
}

main {
	max-width: 1000px;
	padding-top:62px;
}

.nIMain,
.uIMain {
	padding-left:185px;
}

.nIMain,
.uIMain,
.sideFilter {
	display: inline-block;
}
 

/* INDEX.HTML PAGE */

.welcome,
.intro,
.description {
	margin: 20px 50px;
}

.homeLoginRegister {
	width:200px;
	height:30px;
	margin:auto;
}

.homeLogin,
.homeRegister {
	width: 100px;
}

.homeRegister {
	margin-top:30px;
}

/* INDEX.HTML PAGE */

/* APP.JS GET REQUESTS FOR PRODUCTS */

.addNewItem > li {
	height: 300px;
	width: 200px;
	display: inline-block;
	margin-right:20px;
	overflow:auto;
}

.addUsedItem > li {
	height: 300px;
	width: 200px;
	display: inline-block;
	margin-right:20px;
}

/* APP.JS GET REQUESTS FOR PRODUCTS */



img {
	max-width: 200px;
	max-height: 150px;

}

.productImage {
	width:200px;
	height:150px;
}

/* NAV BAR */


a {
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
}

.navBar {
	height:62px;
	width:100vw;
	line-height: 62px;
	background-color:#f7f1cf;
	position:fixed;
	z-index: 1;
}

.home,
.newItemPage,
.usedItemPage,
.userAccount {
	display:inline-block;
	margin-left:20px;
	font-size: 22px;
	text-decoration: none;
}

.loginPage,
.registerPage,
.currentUser {
	display:inline-block;
	margin-right:25px;
	font-size: 22px;
	text-decoration: none;
}

.navList,
.loginRegister {
	display: inline-block;
}

.navList {
	float:left;
}

.loginRegister {
	float:right;
}


/* NAV BAR */


/* USER ACCOUNT PICTURES AND POSTING */


label > input{
  visibility: hidden;
  position: absolute;
}

label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{
  border:2px solid #f00;
}

.userAddProduct {
	padding-top:62px;
}

.usedImg {
	width:135px;
	height:100px;
}

.picContainer,
.usedProductInfo1,
.usedProductInfo2 {
	width:420px;
	margin: auto;
}

.postButton {
	width: 70px;
	margin:auto;
	display:block;
}

#itemName,
.productTypeMenu,
#productValue,
.conditionMenu {
	width:100px;
}

/* USER ACCOUNT PICTURES AND POSTING */


/* LOGIN PAGE */

#loginUser,
#loginPassword,
.loginButton {
	display: block;
	margin:auto;
	margin-top:25px;
	border-radius: 3px;
}

#loginUser {
	/*margin-top:40px;*/
}

.loginContainer {
	width:200px;
	height:200px;
	border-radius:5px;
	border:1px solid tan;
	background-color:tan;
	margin:auto;
	margin-top:90px;
}

.login {
	text-align: center;
}

.loginButton {
	width:100px;
	border:1px solid black;
	background: white;
	border-radius:white;
}


/* LOGIN PAGE */

/* REGISTER PAGE */



.register {
	width:200px;
	height:290px;
	border-radius:5px;
	border:1px solid tan;
	background-color:tan;
	margin:auto;
	margin-top:100px;
}

#firstName, 
#lastName,
#userEmail,
#regName,
#regPassword,
.registerButton {
	display: block;
	margin:auto;
	margin-top:25px;
	border-radius: 3px;
}

.registerButton {
	width:100px;
	border:1px solid black;
	background: white;
	border-radius: 3px;
}

/*REGISTER PAGE*/



.sideFilter {
	height:100vh;
	position:fixed;
	background-color:#00aac3;
	width:175px;
	float:left;
	padding-top:62px;
}

.itemTypeSelector,
.newInitiateFilters,
.usedInitiateFilters,
.startNewSearch {
	display: block;
	margin: 15px 5px;
}

.newInitiateFilters,
.usedInitiateFilters,
.startNewSearch {
	width:50px;
	margin: 15px 5px;
	border-radius: 3px;
}

.startNewSearch {
	width:100px;
}


.hidden {
	display:none;
}
